<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesgalaxy.jadytrackui">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_jady_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_jady_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Additional Activities Needed Here -->
        <activity
            android:name=".Onboarding"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BroadcastActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GenerateIdActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InputIdActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InputOptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanQrActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUsPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuickrouteActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <!--END OF: Additional Activities-->

        <service android:name=".GeofenceTrasitionService" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCD25ephYZAZci2vqzYeIU79IMo_3s-KrM"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- Tambahan dari dean-->
        <activity
            android:name=".AppointmentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>


</manifest>