<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jady.jadytrack">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_jady_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_jady_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.jady.jadytrack.SplashPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Additional Activities Needed Here -->
        <activity
            android:name="com.jady.jadytrack.Onboarding"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.MainMenu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.AboutPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.TrackingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.BroadcastActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.GenerateIdActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.InputIdActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.InputOptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.ScanQrActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.ContactUsPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jady.jadytrack.QuickrouteActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <!--END OF: Additional Activities-->

        <service android:name="com.jady.jadytrack.GeofenceTrasitionService" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCD25ephYZAZci2vqzYeIU79IMo_3s-KrM"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- Tambahan dari dean-->
        <activity
            android:name="com.jady.jadytrack.AppointmentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>


</manifest>